
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

[Tt]emp/
*.tmp
*.log
*.obj
*.cache
*.csproj.user
*.pdb


bin/
obj/


*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/


*.testlog

*.AssemblyReference.cache
*.CoreCompileInputs.cache
*.FileListAbsolute.txt
*.CopyComplete
*.genruntimeconfig.cache
*.csproj.nuget.dgspec.json
project.nuget.cache
