# Игнорирование директорий Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Игнорирование временных и сборочных файлов
[Tt]emp/
*.tmp
*.log
*.obj
*.cache
*.csproj.user
*.pdb

# Игнорирование папок сборки
bin/
obj/

# Игнорирование NuGet файлов
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Игнорирование тестовых логов
*.testlog

# Игнорирование файлов для кэша сборки
*.AssemblyReference.cache
*.CoreCompileInputs.cache
*.FileListAbsolute.txt
*.CopyComplete
*.genruntimeconfig.cache
*.csproj.nuget.dgspec.json
project.nuget.cache
